# SPDX-License-Identifier: GPL-3.0-or-later
# Copyright (C) 2025 Molly Draven
# This file is part of the PE Emulator/Disassembler project, licensed under GPLv3.
# See LICENSE file for details.

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pefile = "*"
capstone = "*"
pyqt5 = "*"
unicorn = "*"

[dev-packages]

[requires]
python_version = "3.13"
